# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_SCHEMA=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123

# API Keys
GROQ_API_KEY=
PINECONE_API_KEY=
