# Kafka
confluent-kafka==2.4.0

# Spark + Delta Lake
pyspark==3.5.0
delta-spark==3.0.0

# Data processing
pandas==2.2.0

# API
fastapi==0.111.0
uvicorn==0.29.0

# Redis
redis==5.0.4

# Testing
pytest==8.2.0
pytest-mock==3.14.0

# Code quality
flake8==7.0.0

# Environment
python-dotenv==1.0.1

# Flink 
apache-flink==1.18.0